@use "_mixins";

.modal {
  color: inherit;
  padding: 1rem;
  border: none;
  border-radius: 8px;

  &::backdrop {
    background-color: hsl(0, 0, 0, 0.4);
  }

  &__content {
    margin-bottom: 2rem;
  }

  &__actions {
    @include mixins.align-center(flex-end);
    gap: 0.5rem;
  }
}
