$font-family: "Nunito Sans", sans-serif;
$heading-font-family: "Libre Baskerville", serif;

$palette-1: #867070;
$palette-2: #d5b4b4;
$palette-3: #e4d0d0;
$palette-4: #f5ebeb;
$font-dark-primary: #000000;
$font-light-primary: #ffffff;
