$font-family: "Nunito Sans", sans-serif;

$palette-1: #643843;
$palette-2: #99627a;
$palette-3: #c88ea7;
$palette-4: #e7cbcb;
$text-dark-primary: #333333;
$text-light-primary: #ffffff;
$positive: #47a992;
$negative: #f55050;
