@use "_reset";
@use "_variables" as vars;
@use "_buttons";
@use "_dialogs";
@use "_forms";
@use "_tables";
@use "_header";
@use "_main-page";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: vars.$font-family;
  color: vars.$text-dark-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 2px;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
